---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid h-screen w-screen grid-rows-12 py-32">
    <div class="text-catppuccin-blue row-span-10 font-bold">
      <div
        class="flex flex-col items-start drop-shadow-[0_0_60px_rgba(147,197,253,0.6)]"
      >
        <div
          class="text-catppuccin-blue pl-2 text-[15rem] leading-24 font-black tracking-tighter drop-shadow-[0_0_30px_#89b4fa] drop-shadow-[0_0_60px_#89b4fa]"
        >
          C</div
        >
        <div
          class="text-catppuccin-blue -mt-8 text-[15rem] leading-none font-black -tracking-[2.5rem] drop-shadow-[0_0_30px_#89b4fa] drop-shadow-[0_0_60px_#89b4fa]"
        >
          L<span class="inline-block translate-y-3.5">S</span>
        </div>
      </div>
    </div>
    <div class="row-span-2">CLCS</div>
  </div>
</Layout>
