---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import uwu from '../assets/uwu.png';
---

<Layout>
  <div
    class="grid h-screen w-screen grid-rows-12 py-8 sm:py-16 md:py-24 lg:py-32"
  >
    <div class="flex justify-center items-center row-span-8 p-4">
        <img src={uwu.src} class="max-h-full aspect-[4/3]" />
    </div>
    <div
      class="row-span-4 my-auto grid h-fit grid-rows-2 place-items-center gap-6"
    >
      <div class="text-lg md:text-xl lg:text-2xl"
        >中大壢中 <span class="font-extrabold">電腦科學社</span></div
      >
      <div class="flex gap-4 text-xl md:text-2xl">
        <a
          href="https://w.wolf-yuan.dev/clcs/instagram"
          class="transition duration-200 hover:text-[#FF0069] xl:hover:scale-125"
          target="_blank"
        >
          <Icon name="simple-icons:instagram" /></a
        >
        <a
          href="https://w.wolf-yuan.dev/clcs/discord"
          class="transition duration-200 hover:text-[#5865F2] xl:hover:scale-125"
          target="_blank"
        >
          <Icon name="simple-icons:discord" /></a
        >
      </div>
    </div>
  </div>

  <div
    class="fixed bottom-4 z-10 w-full text-center text-xs text-slate-600 md:right-4 md:text-right"
  >
    Website made by Wolf Yuan in less than 1 hour... PR welcome!
  </div>
</Layout>
