---
import "@fontsource-variable/jetbrains-mono";
import "../styles/global.css";
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>CLCS - 中大壢中電腦科學社</title>

    <meta
      name="description"
      content="歡迎來到 CLCS - 中大壢中電腦科學社。加入我們，參與程式設計、程式競賽和科技討論。"
    />
    <meta
      name="keywords"
      content="電腦科學, 社團, 程式設計, 技術, CLCS, 中大壢中"
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="CLCS - 中大壢中電腦科學社" />
    <meta
      property="og:description"
      content="歡迎來到 CLCS - 中大壢中電腦科學社。加入我們，參與程式設計、程式競賽和科技討論。"
    />
    <meta property="og:image" content="/logo.png" />
    <meta property="og:url" content="https://clcs.club/" />
    <meta
      property="og:site_name"
      content="CLCS - 中大壢中電腦科學社"
    />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="CLCS - 中大壢中電腦科學社" />
    <meta
      name="twitter:description"
      content="歡迎來到 CLCS - 中大壢中電腦科學社。加入我們，參與程式設計、程式競賽和科技討論。"
    />
    <meta name="twitter:image" content="/logo.png" />
  </head>
  <body class="bg-slate-950 text-slate-50 antialiased">
    <slot />
  </body>
</html>
